.Pa{
    color:rgb(87, 83, 83);
    font-family: initial;
    font-size: 150%;
    margin-top: 2%;
    font-weight:500;
    margin-right: 20%;
    margin-left: 20%;
}

.Pc{
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 15%;
    
}

.Pcc{
    margin-left: 15%;
    
}

.Pi{
    margin: 10px;
    animation: flowAnimation 0.6s infinite alternate;
}
@keyframes flowAnimation {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(10px); /* Adjust the vertical distance as needed */
    }
  }